{% extends 'mainpage/base.html' %}
{% load static %}

{% block content %}

<div class="be-content">
  <div class="page-head">
    <h2 class="page-head-title">CSR</h2>
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb page-head-nav">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">CSR</li>
        <li class="breadcrumb-item active">create</li>
      </ol>
    </nav>
  </div>


  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-flat">
          <div class="card-header card-header-divider">CSR을 생성합니다</div>
          <div class="card-body">
            <p>CA의 인증을 받을 정보를 입력합니다.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row wizard-row">
      <div class="col-md-12 fuelux">
        <div class="block-wizard">
          <div id="wizard1" class="wizard wizard-ux">
            <div class="steps-container">
              <ul class="steps">
                <li data-step="1" class="active">정보 입력<span class="chevron"></span></li>
                <li data-step="2">알고리즘 선택<span class="chevron"></span></li>
                <li data-step="3">리뷰<span class="chevron"></span></li>
              </ul>
            </div>
            <div class="step-content">
              <div data-step="1" class="step-pane active">
                <div class="container p-0">
                  <form action="" method="POST" data-parsley-namespace="data-parsley-" data-parsley-validate=""
                    novalidate="" class="form-horizontal group-border-dashed">
                    {% csrf_token %}

                    <div class="form-group row">
                      <div class="col-sm-7">
                        <h3 class="wizard-title">정보 입력</h3>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-left text-sm-right">Common_name</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input type="text" id="input_common_name" placeholder="CSR의 이름입니다." name="common_name"
                          class="form-control checked">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-left text-sm-right">기관명</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input type="text" id="input_organization" placeholder="예) Mofas" class="form-control checked"
                          name="organization">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-left text-sm-right">부속 기관</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input type="text" id="input_organization_unit" placeholder="예) 보안 인증팀"
                          class="form-control checked" name="organization_unit">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-left text-sm-right">국가</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <select class="select2 checked" id="select_country" name="country">

                          </optgroup>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-left text-sm-right">시·도</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input type="text" id="input_state" name="state" placeholder="예)서울특별시"
                          class="form-control checked">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-left text-sm-right">구·군</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input type="text" id="input_locality" name="locality" placeholder="예)서초구"
                          class="form-control checked">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-left text-sm-right">도메인</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        <input type="text" name="domain" id="input_domain" placeholder="mofas.io"
                          class="form-control checked">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="offset-sm-9 col-sm-10">
                        <button id="button_first_next" data-wizard="#wizard1"
                          class="btn btn-primary btn-space wizard-next">다음</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div data-step="2" class="step-pane">
                <form action="" data-parsley-namespace="data-parsley-" data-parsley-validate="" novalidate=""
                  class="group-border-dashed">
                  <div class="form-group row">
                    <div class="col-sm-7">
                      <h3 class="wizard-title">알고리즘</h3>
                    </div>
                  </div>

                  <div class="form-group row align-items-center">
                    <div class="col-sm-3 offset-sm-1 ">
                      <div class="form-group row pt-1 pb-1">
                        <div class="col-12 col-sm-8 col-lg-6 form-check mt-2">
                          <label class="custom-control custom-radio">
                            <input id="input_RSA_2048" type="radio" name="radio-stacked" checked="true"
                              class="custom-control-input" value="RSA_2048"><span
                              class="custom-control-label"><strong>RSA
                                2048</strong></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <p style=" margin: 0px;">2048-bit RSA키 알고리즘은 대부분의 브라우저와 호환됩니다.</p>
                      <p style=" margin: 0px;">이 알고리즘은 효율성과 보안성의 밸런스를 이룹니다.</p>
                    </div>
                  </div>

                  <div class="form-group row align-items-center">
                    <div class="col-sm-3 offset-sm-1 ">
                      <div class="form-group row pt-1 pb-1">
                        <div class="col-12 col-sm-8 col-lg-6 form-check mt-2">
                          <label class="custom-control custom-radio">
                            <input type="radio" id="input_RSA_4096" name="radio-stacked" class="custom-control-input"
                              value="RSA_4096"><span class="custom-control-label"><strong>RSA
                                4096</strong></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <p style=" margin: 0px;">4096-bit RSA키 알고리즘은 2048-bit 보다 효율성이 떨어지며 몇몇 특정한 상황에서 쓰입니다.</p>
                      <p style=" margin: 0px;">예로 몇몇 루트 CA들은 RSA 4096을 사용합니다.</p>
                    </div>
                  </div>

                  <div class="form-group row align-items-center">
                    <div class="col-sm-3 offset-sm-1 ">
                      <div class="form-group row pt-1 pb-1">
                        <div class="col-12 col-sm-8 col-lg-6 form-check mt-2">
                          <label class="custom-control custom-radio">
                            <input type="radio" id="input_ECDSA_P256" name="radio-stacked" class="custom-control-input"
                              value="ECDSA_P256"><span class="custom-control-label"><strong>ECDSA
                                P256</strong></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <p style=" margin: 0px;">ECDSA P256 알고리즘은 이클립틱 커브 암호(ECC) 알고리즘을 사용 합니다. ECC는 RSA보다 효율적입니다.</p>
                      <p style=" margin: 0px;">이 알고리즘은 RSA 3072-bit과 동등한 수준의 보안능력을 지닙니다.</p>
                    </div>
                  </div>

                  <div class="form-group row align-items-center">
                    <div class="col-sm-3 offset-sm-1 ">
                      <div class="form-group row pt-1 pb-1">
                        <div class="col-12 col-sm-8 col-lg-6 form-check mt-2">
                          <label class="custom-control custom-radio">
                            <input type="radio" id="input_ECDSA_P384" name="radio-stacked" class="custom-control-input"
                              value="ECDSA_P384"><span class="custom-control-label"><strong>ECDSA
                                P384</strong></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <p style=" margin: 0px;">ECSA P384는 이클립틱 커브 암호(ECC) 알고리즘을 사용 합니다. ECC는 RSA보다 효율적입니다.</p>
                      <p style=" margin: 0px;">이 알고리즘은 RSA 7680-bit과 동등한 수준의 보안능력을 지닙니다.</p>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="offset-sm-10 col-sm-12">
                      <button data-wizard="#wizard1" id="button_second_next"
                        class="btn btn-primary btn-space wizard-next">다음</button>
                    </div>
                  </div>
                </form>
              </div>
              <div data-step="3" class="step-pane">
                <form action="" data-parsley-namespace="data-parsley-" data-parsley-validate="" novalidate=""
                  class="form-horizontal group-border-dashed">
                  <div class="form-group row">
                    <div class="col-sm-7">
                      <h3 class="wizard-title">리뷰</h3>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-6">
                      <label class="col-form-label">Common Name </label>
                      <p id="p_common_name">모파스.cert</p>
                      <label class="col-form-label">기관명 </label>
                      <p id="p_organization">모파스</p>
                      <label class="col-form-label">부서</label>
                      <p id="p_organization_unit">보안인증팀</p>
                      <label class="col-form-label">도메인</label>
                      <p id="p_domain">mofas.io</p>
                      {{hi}}
                    </div>
                    <div class="col-sm-6">
                      <label class="col-form-label">국가코드</label>
                      <p id="p_country">KR</p>
                      <label class="col-form-label">시·도</label>
                      <p id="p_state">서울특별시</p>
                      <label class="col-form-label">구·군</label>
                      <p id="p_locality">서초구</p>
                      <label class="col-form-label">알고리즘</label>
                      <p id="p_algorithm">RSA 2048</p>
                      <div class="form-group row">
                        <div class="offset-sm-0 col-sm-12">
                          <button data-toggle="modal" id="button_third_modal" data-target="#mod-success" type="button"
                            class="btn btn-space btn-success" method="POST">모달</button>

                        </div>
                      </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block js %}



<script src="{% static 'assets/lib/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/lib/datetimepicker/js/bootstrap-datetimepicker.min.js' %}" type="text/javascript">
</script>

<script src="{% static 'assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js' %}" type="text/javascript">
</script>
<script src="{% static 'assets/js/app-form-wizard.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/lib/fuelux/js/wizard.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/lib/select2/js/select2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/lib/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/app-form-elements.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/lib/jquery.niftymodals/dist/jquery.niftymodals.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/lib/bootstrap-slider/bootstrap-slider.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/app-form-wizard.js' %}" type="text/javascript"></script>




<script type="text/javascript">
  $(document).ready(function () {
    //initialize the javascript
    App.init();
    App.wizard();
    App.formElements();

  });
  $.fn.niftyModal('setDefaults', {
    overlaySelector: '.modal-overlay',
    contentSelector: '.modal-content',
    closeSelector: '.modal-close',
    classAddAfterOpen: 'modal-show'
  });

  var input_common_name = $("#input_common_name");
  var input_organization = $("#input_organization");
  var input_organization_unit = $("#input_organization_unit");
  var input_state = $("#input_state");
  var input_locality = $("#input_locality");
  var input_domain = $("#input_domain");
  var select_country = $("#select_country");

  var input_RSA_2048 = $("#input_RSA_2048");
  var input_RSA_4096 = $("#input_RSA_4096");
  var input_ECDSA_P256 = $("#input_ECDSA_P256");
  var input_ECDSA_P384 = $("#input_ECDSA_P384");

  var p_common_name = $("#p_common_name");
  var p_organization = $("#p_organization");
  var p_organization_unit = $("#p_organization_unit");
  var p_state = $("#p_state");
  var p_locality = $("#p_locality");
  var p_domain = $("#p_domain");
  var p_country = $("#p_country");
  var p_algorithm = $("#p_algorithm");


  var button_first_next = $("#button_first_next");
  var button_second_next = $("#button_second_next");
  var button_third_modal = $("#button_third_modal");
  var button_email_csr = $("#button_email_csr");

  var result_modal = $("#result_modal");
  $(document).ready(function () {
    button_first_next.attr("disabled", true);
    $.ajax({
      url: "{% url 'countries_in_JSON' %}",
      type: "get",
      dataType: "json",
      success: function (data) {
        $.each(data, function (key, value) {
          select_country.append('<option value="' + key + '">' + value + '</option>')
        });
      },
    });


    $('.checked').on('keyup change', function (e) {
      var check = false;
      var checked = $('.checked');
      $.each(checked, function (key, value) {
        if (value.value == '') {
          check = true;
          button_first_next.attr("disabled", true);

        } else {
          check = false;
        }
      });

      if (check) {} else {
        button_first_next.attr("disabled", false);
      }

    })
    button_first_next.click(function () {
      //TODO 여기서 리뷰 페이지 커먼네임, 국가코드 기관명, 부서, 구군 도메인 바꿔줌
      p_common_name.text(input_common_name.val());
      p_organization.text(input_organization.val());
      p_organization_unit.text(input_organization_unit.val());
      p_state.text(input_state.val());
      p_locality.text(input_locality.val());
      p_domain.text(input_domain.val());
      p_country.text(select_country.val());
    });
    var algorithm
    button_second_next.click(function () {
      //TODO 여기서 리뷰 페이지 알고리즘 바꿔줌
      algorithm = $("input[name='radio-stacked']:checked").val();
      p_algorithm.text(algorithm);
      $.ajax({
        url: "{% url 'create' %}",
        type: "POST",
        data: {
          common_name: input_common_name.val(),
          organization: input_organization.val(),
          organization_unit: input_organization_unit.val(),
          state: input_state.val(),
          locality: input_locality.val(),
          domain: input_domain.val(),
          country: select_country.val(),
          algorithm: algorithm,
          csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success: function (data) {},
        error: function (ts) {}
      })
    })




    button_third_modal.click(function () {
      //TODO 세번째 버튼이 눌렸을때 정보의 변화가 일어나면 안됌
      $.ajax({
        url: "{% url 'create' %}",
        type: "POST",
        dataType: "json",
        data: {
          common_name: input_common_name.val(),
          organization: input_organization.val(),
          organization_unit: input_organization_unit.val(),
          state: input_state.val(),
          locality: input_locality.val(),
          domain: input_domain.val(),
          country: select_country.val(),
          algorithm: algorithm,
          csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success: function (data) {
          $('input[name="csr"]').val(data.csr);
          $('input[name="public_key"]').val(data.public_key);
          $('input[name="private_key"]').val(data.private_key);
        },
        error: function (ts) {}
      })
    })

    $("#button_email_csr").click(function () {
      alert("yooooooooooooooooooo")
      $.ajax({
        url: "{% url 'email_csr' %}",
        type: "POST",
        data: {
          csr: $('input[name="csr"]').val(),
          csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success: function (data) {

          alert("Email has been sent")



        },
        error: function (ts) {}
      })
    })




    $('#mod-success').on('hide.bs.modal', function (e) {
      // 모달 나갈때 
      location.replace("{% url 'start'%}");
    })
  });
</script>

<!--Modal Alerts-->
<div id="mod-success" tabindex="-1" role="dialog" style="" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span
            class="mdi mdi-close"></span></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <div class="text-success"><span class="modal-main-icon mdi mdi-check"></span></div>
          <h3>CSR이 생성 되었습니다.</h3>
          <div class="row">
            <div class="col-sm-6 text-right">
              <button class="btn btn-space btn-secondary" id="button_email_csr">E-mail CSR </button>
              <input type="hidden" value="{{ csr }}" name="csr">
            </div>
            <div class="col-sm-6 text-left">
              <form action="{% url 'download_csr' %}" method="POST" name="csr">
                {% csrf_token %}
                <input type="hidden" value="" name="csr">
                <button type="submit" class="btn btn-space btn-secondary">CSR 다운로드</button>
              </form>
            </div>
          </div>
          <br>
          <br>
          <p>프라이빗키와 퍼블릭키를 다운로드 받아 주세요.<br>이 페이지를 벗어나면 다운 받을 수 없습니다.</p>
          <div class="row">
            <div class="col-sm-6 text-right">
              <form action="{% url 'download_private_key' %}" method="POST" name="private_key">
                {% csrf_token %}
                <button type="submit" class="btn btn-space btn-secondary">Private Key 다운로드</button>
                <input type="hidden" value="{{ private_key }}" name="private_key">
              </form>
            </div>
            <div class="col-sm-6 text-left">
              <form action="{% url 'download_public_key' %}" method="POST" name="public_key">
                {% csrf_token %}
                <button type="submit" class="btn btn-space btn-secondary">Public Key 다운로드</button>
                <input type="hidden" value="" name="public_key">

            </div>
          </div>
          <br>
          <br>
          <p>CA에게 서명을 요청하세요.<br>인증서를 생성 할 수 있습니다.</p>
          <div class="row">
            <div class="col-sm-6 text-right">
              <form action="{% url 'download_private_key' %}" method="POST" name="private_key">
                {% csrf_token %}
                <button type="button" data-dismiss="modal" class="btn btn-space btn-secondary">마침</button>
                <input type="hidden" value="{{ private_key }}" name="private_key">
              </form>
            </div>
            <div class="col-sm-6 text-left">
              <form action="{% url 'download_public_key' %}" method="POST" name="public_key">
                {% csrf_token %}
                <button type="button" class="btn btn-space btn-success">인증서 만들기</button>
                <input type="hidden" value="" name="public_key">
            </div>
          </div>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
  <div id="mod-primary" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span
              class="mdi mdi-close"></span></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <div class="text-primary"><span class="modal-main-icon mdi mdi-info-outline"></span></div>
            <h3>Information!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Fusce ultrices euismod lobortis.</p>
            <div class="mt-8">
              <button type="button" data-dismiss="modal" class="btn btn-space btn-secondary">Cancel</button>
              <button type="button" data-dismiss="modal" class="btn btn-space btn-primary">Proceed</button>
            </div>
          </div>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
  <div id="mod-warning" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span
              class="mdi mdi-close"></span></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <div class="text-warning"><span class="modal-main-icon mdi mdi-alert-triangle"></span></div>
            <h3>Warning!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Fusce ultrices euismod lobortis.</p>
            <div class="mt-8">
              <button type="button" data-dismiss="modal" class="btn btn-space btn-secondary">Cancel</button>
              <button type="button" data-dismiss="modal" class="btn btn-space btn-warning">Proceed</button>
            </div>
          </div>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
  <div id="mod-danger" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span
              class="mdi mdi-close"></span></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <div class="text-danger"><span class="modal-main-icon mdi mdi-close-circle-o"></span></div>
            <h3>Danger!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>Fusce ultrices euismod lobortis.</p>
            <div class="mt-8">
              <button type="button" data-dismiss="modal" class="btn btn-space btn-secondary">Cancel</button>
              <button type="button" data-dismiss="modal" class="btn btn-space btn-danger">Proceed</button>
            </div>
          </div>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
  {% endblock %}